.container{
  margin: 64px auto 0 auto;
  max-width: 100%;
}

.nav-container{
  margin: auto
}

input {
  background: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}